#lista-personagens {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.personagem {
    border: 1px solid #ccc;
    padding: 15px;
    text-align: center;
}

.personagem img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.personagem h3 {
    margin: 0;
}
